# Trash
.DS_Store
Thumbs.db
# k8s
kubeconfig
talosconfig
extensions.yaml
tailscale.yaml
.decrypted~*.yaml
.config.env
*.agekey
*.pub
*.key
# Private
.private
.bin
# Ansible
.venv*
# Taskfile
.task
# Brew
Brewfile.lock.json
# intellij
.idea
# wiki
wiki
# Bootstrap
/config.yaml
# custom patches
/kubernetes/bootstrap/talos/patches/
tailscale_extension.yaml
