---
apiVersion: v1
kind: Secret
metadata:
  name: tailscale-secret
  namespace: network
stringData:
  client_id: "#{ bootstrap_tailscale.client_id }#"
  client_secret: "#{ bootstrap_tailscale.secret }#"
